.Workbench {
  text-align: center;
}

.Workbench-logo {
  animation: Workbench-logo-spin infinite 20s linear;
  height: 80px;
}

.Workbench-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Workbench-intro {
  font-size: large;
}

.Workbench-resources {
  list-style: none;
}

.Workbench-resources > li {
  display: inline-block;
  padding: 1rem;
}

@keyframes Workbench-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}